@model hotel.ViewModels.PrivremeniRacunViewModel
@{
    ViewBag.Title = "Index";
}

<h2> </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Stavkes.First().ElementPonude.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Stavkes.First().Kolicina)
    </tr>

    @foreach (var item in Model.Stavkes)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ElementPonude.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kolicina)
            </td>
        </tr>
    }
</table>




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.ElementPonudes.First().ID)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ElementPonudes.First().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ElementPonudes.First().JedinicnaCijena)
        </th>

        <th>
            @Html.LabelFor(model => model.Stavka.Kolicina, htmlAttributes: new { @class = "control-label" })
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model.ElementPonudes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JedinicnaCijena)
            </td>
            @using (Html.BeginForm("DodajStavku", "PrivremeniRacun", FormMethod.Post))
            {

                <td>


                    @Html.EditorFor(model => model.Stavka.Kolicina, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Stavka.Kolicina, "", new { @class = "text-danger" })


                    @Html.Hidden("Stavka.ElementPonudeID", item.ID)
                    @Html.HiddenFor(model => model.Stavka.PrivremeniRacunID)


                </td>
                <td>
                    <button type="submit">Odaberi</button>
                </td>
            }

        </tr>
    }
</table>

@using (Html.BeginForm("ZavrsiRacun", "PrivremeniRacun", new { privremeniRacunId = Model.Stavka.PrivremeniRacunID }, FormMethod.Post))
{

    <button type="submit" class="btn btn-default">Naplati</button>

}

@using (Html.BeginForm("ObrisiRacun", "PrivremeniRacun", new { privremeniRacunId = Model.Stavka.PrivremeniRacunID }, FormMethod.Post))
{

    <button type="submit" class="btn btn-default">Obrisi</button>

}

@Html.ActionLink("Gotovo »", "Index", new { controller = "Home" }, new { @class = "btn btn-default" })